.red-line {
  height: 2px;
<<<<<<< HEAD

=======
>>>>>>> c858e862a27f44465b364bd93f85c6398dd9b9af
  position: absolute;
  width: 100%;
  background-color: red;
  z-index: 5;
  transition: top 0.5s ease;
  pointer-events: none;
}
