.red-line {
  height: 2px;
  position: absolute;
  width: 163.2px;
  background-color: red;
  z-index: 5;
  transition: top 0.5s ease;
  pointer-events: none;
}

.red-line::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  top: -7px;
  left: -10px;
}
