.red-line {
  height: 2px;
  position: absolute;
  width: 163.2px;
  background-color: red;
  z-index: 5;
  transition: top 0.5s ease;
  pointer-events: none;
}

.red-line::before {
  content: "";
  position: absolute;
  width: 15px; /* Диаметр круга */
  height: 15px; /* Диаметр круга */
  background-color: red; /* Цвет круга */
  border-radius: 50%; /* Создаем круг */
  top: -7px; /* Позиционирование круга над линией */
  left: -10px; /* Позиционирование круга перед линией */
}
