.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    display: flex; // Выравниваем элементы по горизонтали
    height: 100px; // Фиксируем высоту
    padding-left: 48px; // Отступ слева
    position: fixed; // Фиксируем компонент при скролле
    top: 60px; // Сдвигаем вниз на высоту компонента Header
    left: 0; // Выравниваем по левому краю
    right: 0; // Выравниваем по правому краю
    z-index: 9; // Располагаем ниже Header, но выше основного контента
    background-color: #fff; // Белый фон для предотвращения наложения контента
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__day-label {
    position: relative;
    flex: 1;
    text-align: center;
    padding: 10px;
  }
}

.day-label {
  &__day-name {
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__day-number {
    font-size: 18px;
    font-weight: bold;
  }

  &--today {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(11, 99, 246, 1);
  }

  &--today .day-label__day-number {
    background-color: rgba(11, 99, 246, 1); // Синий фон
    color: white; // Белый цвет текста для контраста
    border-radius: 50%; // Делаем круг
    width: 40px; // Устанавливаем фиксированную ширину
    height: 40px; // Устанавливаем фиксированную высоту
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; // Центрируем круг
    font-size: 18px; // Размер шрифта
    font-weight: bold;
    // Подсветка числа текущего дня
  }
}
