@import "../../variables.scss";

.calendar {
  &__header {
    position: fixed;
    padding-left: 48px;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 9;
    display: flex;
    height: 100px;
    background-color: $background-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__day-label {
    position: relative;
    padding: 10px;
    flex: 1;
    text-align: center;
  }
}

.day-label {
  &__day-name {
    margin-bottom: 5px;
    font-size: 14px;
  }

  &__day-number {
    font-size: 18px;
    font-weight: bold;
  }

  &--today {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $nav-color;
  }

  &--today .day-label__day-number {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: $nav-color;
    color: $event-color;
    border-radius: 50%;
  }
}
