.event-container {
  position: relative;
  margin-bottom: 50px;
}

.event {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: cornflowerblue;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &__time {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__description {
    font-size: 12px;
    margin-top: 4px;
    color: #e0e0e0;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
    z-index: 20;
  }
}
