@import "../../variables.scss";

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    padding: 16px;
    background: $background-content;
    border: 1px solid $border-calendar;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: $background-overlay;
}

.create-event {
  display: flex;
  flex-direction: column;

  &__close-btn {
    margin-left: auto;
    width: 24px;
    height: 24px;
    transform: rotate(45deg) scale(2);
    outline: none;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
  }
}

.event-form {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__field {
    margin: 8px;
    border: none;
  }

  &__field-title {
    border: none;
    border-bottom: 1px solid $event-background;
  }

  &__submit-btn {
    padding: 8px 16px;
    margin: 8px;
    margin-left: auto;
    color: $background-content;
    background-color: cornflowerblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}
