@import "./variables.scss";

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid $event-hover;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: $nav-color;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    padding: 16px;
    background: $event-color;
    border: 1px solid $event-hover;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: $background-overlay;
}

.popup {
  &__content {
    position: absolute;
    padding: 16px;
    background: $background-content;
    border: 1px solid $border-calendar;
    border-radius: 8px;
  }
}

.hidden {
  display: none;
}
