$background-content: #fff;
$background-overlay: #cccccc45;
$border-calendar: #eee;
$event-color: #ffffff;

$event-delete-color: #000000;
$event-background: #6495ed;
$event-scrollbar: #808080;
$event-hover: #f0f0f0;

$nav-color: #0b63f6;

$red-line: #ff0000;
